/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        home_row_layer: home_row_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LAYER";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                          &kp N6  &kp N7          &kp N8           &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E         &kp R         &kp T                           &kp Y   &kp U           &kp I            &kp O    &kp P     &kp BACKSLASH
&kp LCTRL  &kp A   &kp S   &kp D         &kp F         &kp G                           &kp H   &kp J           &kp K            &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V         &kp B   &kp LBKT     &kp RBKT   &kp N   &kp M           &kp COMMA        &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LEFT_GUI  &kp LEFT_ALT  &mo 3   &kp SPACE    &kp SPACE  &mo 2   &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbols_1 {
            bindings = <
&trans  &trans  &trans  &trans                &trans                 &trans                           &trans  &trans         &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE                         &trans  &trans         &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND                    &trans  &kp BACKSLASH  &none   &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT    &trans    &trans  &trans  &trans         &trans  &trans  &trans  &trans
                        &trans                &trans                 &trans         &trans    &trans  &trans  &trans         &trans
            >;

            label = "sym1";
        };

        symbols_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                       &trans       &trans         &trans            &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                       &kp AT_SIGN  &kp LESS_THAN  &kp GREATER_THAN  &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                       &kp HASH     &kp MINUS      &kp PLUS          &kp EXCLAMATION  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &kp CARET    &kp SLASH      &kp ASTERISK      &trans           &trans  &trans
                        &trans  &trans  &trans  &trans    &kp EQUAL  &trans       &trans         &trans
            >;

            label = "sym2";
        };

        navigation {
            bindings = <
&trans  &trans  &trans          &trans        &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &kp UP_ARROW  &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans        &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans        &trans     &trans  &trans    &trans  &trans  &trans  &trans
            >;

            label = "nav";
        };
    };
};
