/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        home_row_layer_left: home_row_layer_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LAYER_LEFT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 31 33 54 55 56 57 34 30>;
            flavor = "balanced";
        };

        latex_openbrak: latex_openbrak {
            compatible = "zmk,behavior-tap-dance";
            label = "LATEX_OPENBRAK";
            #binding-cells = <0>;
            bindings = <&latex_openmathmode>, <&latex_openset>;

            tapping-term-ms = <200>;
        };

        latex_closebrak: latex_closebrak {
            compatible = "zmk,behavior-tap-dance";
            label = "LATEX_CLOSEBRAK";
            #binding-cells = <0>;
            bindings = <&latex_closemathmode>, <&latex_closeset>;

            tapping-term-ms = <200>;
        };

        home_row_layer_right: home_row_layer_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LAYER_RIGHT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57 8 28 26 53 50 52 51 25 29>;
        };
    };

    macros {
        latex_openmathmode: latex_mathmode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH &kp LEFT_BRACKET>;
            label = "LATEX_MATHMODE";
        };

        latex_closemathmode: latex_closemathmode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH &kp RIGHT_BRACKET>;
            label = "LATEX_CLOSEMATHMODE";
        };

        latex_openset: latex_openset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH &kp LEFT_BRACE>;
            label = "LATEX_OPENSET";
        };

        latex_closeset: latex_closeset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH &kp RIGHT_BRACE>;
            label = "LATEX_CLOSESET";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3                     &kp N4        &kp N5                                 &kp N6     &kp N7          &kp N8                    &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E                      &kp R         &kp T                                  &kp Y      &kp U           &kp I                     &kp O    &kp P     &kp BACKSLASH
&kp LCTRL  &kp A   &kp S   &home_row_layer_right 2 D  &kp F         &kp G                                  &kp H      &kp J           &home_row_layer_left 1 K  &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z   &kp X   &kp C                      &kp V         &kp B   &latex_openbrak    &kp DELETE  &kp N      &kp M           &kp COMMA                 &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LEFT_GUI               &kp LEFT_ALT  &mo 3   &kp SPACE          &kp SPACE   &kp UNDER  &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbols_left {
            bindings = <
&trans        &trans  &trans  &trans                &trans                 &trans                               &trans     &trans         &trans  &trans         &trans  &trans
&trans        &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE                             &trans     &trans         &trans  &trans         &trans  &trans
&kp CAPSLOCK  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND                        &kp TILDE  &kp BACKSLASH  &none   &kp BACKSPACE  &trans  &trans
&trans        &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT    &trans     &trans     &trans     &trans         &trans  &trans         &trans  &trans
                              &trans                &trans                 &trans         &kp TAB    &kp ENTER  &trans     &trans         &trans
            >;

            label = "sym_left";
        };

        symbols_right {
            bindings = <
&trans  &trans  &trans             &trans  &trans            &trans                          &trans       &trans         &trans            &trans           &trans  &trans
&trans  &trans  &trans             &trans  &trans            &trans                          &kp AT_SIGN  &kp LESS_THAN  &kp GREATER_THAN  &trans           &trans  &trans
&trans  &trans  &kp DOUBLE_QUOTES  &none   &kp SINGLE_QUOTE  &kp GRAVE                       &kp HASH     &kp MINUS      &kp PLUS          &kp EXCLAMATION  &trans  &trans
&trans  &trans  &trans             &trans  &trans            &trans     &trans    &trans     &kp CARET    &kp SLASH      &kp ASTERISK      &trans           &trans  &trans
                                   &trans  &trans            &trans     &trans    &kp EQUAL  &trans       &trans         &trans
            >;

            label = "sym_right";
        };

        navigation_numpad {
            bindings = <
&trans  &trans  &trans          &trans        &trans     &trans                    &trans  &trans        &trans        &trans        &trans  &trans
&trans  &trans  &trans          &kp UP_ARROW  &trans     &trans                    &trans  &trans        &trans        &trans        &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans                    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
&trans  &trans  &trans          &trans        &trans     &trans  &trans    &trans  &trans  &trans        &trans        &trans        &trans  &trans
                                &trans        &trans     &trans  &trans    &trans  &trans  &trans        &trans
            >;

            label = "navnum";
        };
    };
};
